<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940766362934-f3or2stk3651kjo117m7oni0s7o8i1i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940766362934-f3or2stk3651kjo117m7oni0s7o8i1i5</string>
	<key>API_KEY</key>
	<string>AIzaSyAoKnRri4KXhmo6bSMWwfIC97NoBT3F1Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>940766362934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagram</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-80f22</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-80f22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940766362934:ios:91258b601428d73cefc797</string>
</dict>
</plist>